@using WebAppClients.MVC.Domain.Entities
@model Client
@{
    ViewBag.Title = Model.Name;
}

<div>
    <div class="col-12-xlarge">
        <h2>
            Name: @Model.Name
        </h2>
        <h2>
            Gender: @Model.Gender
        </h2>
        <h2>
            Email: @Model.Email
        </h2>
        <h2>
            City: @Model.City
        </h2>
        <h2>
            Phone: @Model.Phone
        </h2>
        <h2>
            Birthday: @Model.Birthday.ToShortDateString()
        </h2>
        <h2>
            Created: @Model.Created.ToShortDateString()
        </h2>
        <h2>
            Comment: @Model.Comment
        </h2>
    </div>
</div>
